@use "../../../sassStyles/variables" as *;

.loading-bar {
  width: 12rem;
  height: 2.5rem;
  background-color: #fff;
  box-shadow: 0.3rem 0 $primaryDark, -0.3rem 0 $primaryDark,
    0 0.3rem 0 $primaryDark, 0 -0.3rem 0 $primaryDark;
  position: relative;
  overflow: hidden;

  &__progress {
    position: absolute;
    height: 1.5rem;
    width: 5rem;
    background-color: $primaryViolet;
    top: 50%;
    transform: translate(-100%, -50%);
    box-shadow: inset 0 -0.3rem $tertiaryViolet2, 0.3rem 0 0 $primaryViolet,
      -0.3rem 0 0 $primaryViolet, 0 0.3rem 0 $primaryViolet,
      0 -0.3rem 0 $primaryViolet;
    // border-bottom: 0.3rem solid $primaryViolet;
  }
}
