@use "../../../sassStyles/variables" as *;

.loading-bar {
  width: 12rem;
  height: 2.5rem;
  background-color: var(--background-color);
  box-shadow: 0.3rem 0 var(--font-color), -0.3rem 0 var(--font-color),
    0 0.3rem 0 var(--font-color), 0 -0.3rem 0 var(--font-color);
  position: relative;
  overflow: hidden;

  &__progress {
    position: absolute;
    height: 1.5rem;
    width: 5rem;
    background-color: var(--primary-violet);
    top: 50%;
    transform: translate(-100%, -50%);
    box-shadow: inset 0 -0.3rem var(--tertiary-violet-2),
      0.3rem 0 0 var(--primary-violet), -0.3rem 0 0 var(--primary-violet),
      0 0.3rem 0 var(--primary-violet), 0 -0.3rem 0 var(--primary-violet);
  }
}
