@use "../../sassStyles/variables" as *;

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background-color);
  grid-auto-rows: 50vh;
  min-width: 75vw;

  @media only screen and (max-width: 48em) {
    min-width: 90vw;
  }

  @media only screen and (max-width: 42em) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 25rem;
  }

  @media only screen and (max-width: 24em) {
    min-width: 95vw;
  }

  &__loading-bar {
    grid-column: 1 / -1;
    place-self: center;

    @media only screen and (max-width: 42em) {
      grid-row: span 2;
    }
  }

  &__overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1.2fr auto;
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: center;

    &__name {
      grid-column: 1 / -1;

      @media only screen and (max-width: 48em) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 42em) {
        font-size: 1.6rem;
      }
    }

    &__nav {
      display: flex;
      gap: 1.5rem;
      grid-column: 1 / -1;
      @media only screen and (max-width: 42em) {
        grid-column: 2;
        grid-row: 3 / 4;
        justify-self: end;
      }

      &-button {
        border: var(--border);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.6rem;
        height: 3.6rem;
        padding: 0.5rem;
        transition: all 0.3s;
        color: var(--font-color);

        &:hover {
          transform: translate(-0.4rem, -0.4rem);
          box-shadow: 0.4rem 0.4rem 0 0 $primaryViolet;
          background-color: var(--font-color);
          color: var(--background-color);
        }

        &:active {
          transform: translate(0, 0);
          box-shadow: none;
        }

        &:disabled {
          border: 0.3rem solid var(--disabled-color);
          color: var(--disabled-color);
          cursor: not-allowed;
          transform: translate(0, 0);
          box-shadow: none;
          background-color: var(--background-color);
        }
      }
    }

    &__links {
      display: grid;
      grid-auto-flow: column;
      // grid-auto-columns: 16rem;
      gap: 1rem;
      padding-top: 1rem;
      grid-column: 1 / -1;

      @media only screen and (max-width: 42em) {
        grid-column: 1;
        padding-top: 0;
      }
    }

    &__link {
      padding: 1rem;
      font-weight: 700;
      border: var(--border);
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: center;
      transition: all 0.3s;
      cursor: pointer;

      &--prod {
        background-color: var(--font-color);
        color: var(--background-color);
        &:hover {
          transform: translate(-0.4rem, -0.4rem);
          box-shadow: 0.4rem 0.4rem 0 $primaryViolet;
        }
      }

      &--code {
        &:hover {
          transform: translate(-0.4rem, -0.4rem);
          box-shadow: 0.4rem 0.4rem 0 $primaryBlue;
        }
      }
    }
  }

  &__info-list {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
  }

  &__preview {
    position: relative;
  }
}
