@use "../../sassStyles/variables" as *;

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--modal-background-color);
  grid-auto-rows: 50vh;
  min-width: 75vw;

  @media only screen and (max-width: 48em) {
    min-width: 90vw;
  }

  @media only screen and (max-width: 42em) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 25rem;
  }

  @media only screen and (max-width: 24em) {
    min-width: 95vw;
  }

  &__loading-bar {
    grid-column: 1 / -1;
    place-self: center;

    @media only screen and (max-width: 42em) {
      grid-row: span 2;
    }
  }

  &__overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1.2fr auto;
    flex-direction: column;
    padding: 2rem 4rem;
    align-items: center;

    &__name {
      grid-column: 1 / -1;

      @media only screen and (max-width: 48em) {
        font-size: 2rem;
      }

      @media only screen and (max-width: 42em) {
        font-size: 1.6rem;
      }
    }

    &__nav {
      display: flex;
      gap: 1.5rem;
      grid-column: 1 / -1;
      @media only screen and (max-width: 42em) {
        grid-column: 2;
        grid-row: 3 / 4;
        justify-self: end;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.8rem;
        height: 3.2rem;
        padding: 1rem;
        transition: all 0.3s;
        background-color: #ccc;
        color: var(--font-color);
        box-shadow: inset 0 -0.4rem 0 #999, inset 0 -0.6rem 0 #eee,
          var(--box-shadow);

        &__icon {
          position: relative;
          bottom: 0.2rem;
        }

        &:hover {
          background-color: #aaa;
        }

        &:active {
          box-shadow: inset 0 -0.2rem 0 #eee, var(--box-shadow);
        }

        &:active &__icon {
          transform: translateY(0.2rem);
        }

        &:disabled {
          cursor: not-allowed;
          box-shadow: 0.3rem 0 0 rgba(51, 51, 51, 0.6),
            -0.3rem 0 0 rgba(51, 51, 51, 0.6), 0 0.3rem 0 rgba(51, 51, 51, 0.6),
            0 -0.3rem 0 rgba(51, 51, 51, 0.6);
          background-color: #eee;
        }

        &:disabled &__icon {
          transform: translateY(0.2rem);
          color: rgba(51, 51, 51, 0.6);
        }
      }
    }

    &__links {
      display: grid;
      grid-auto-flow: column;
      gap: 2rem;
      padding-top: 1rem;
      grid-column: 1 / -1;

      @media only screen and (max-width: 42em) {
        grid-column: 1;
        padding-top: 0;
      }
    }

    &__link {
      padding: 1rem;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      justify-content: center;
      transition: all 0.3s;
      box-shadow: var(--box-shadow);
      cursor: pointer;

      &--prod {
        background-color: var(--font-color);
        color: var(--background-color);

        &:hover {
          background-color: var(--background-color);
          color: var(--font-color);
        }
      }

      &--code {
        background-color: var(--background-color);
        color: var(--font-color);
        &:hover {
          background-color: var(--font-color);
          color: var(--background-color);
        }
      }
    }
  }

  &__info-list {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-weight: 500;
  }

  &__preview {
    position: relative;
  }
}
