@use "../../../sassStyles/variables" as *;

.skill {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  &__icon {
    width: auto;
    height: 5rem;
    overflow: visible;
    stroke: var(--font-color) !important;
    stroke-width: 0.1rem;

    @media only screen and (max-width: 64em) {
      height: 3.6rem;
    }
  }

  &__label {
    font-family: "Press Start 2P", cursive;
    font-size: 1.4rem;

    @media only screen and (max-width: 64em) {
      font-size: 1.2rem;
    }

    @media only screen and (max-width: 48em) {
      font-size: 1rem;
    }
  }

  &__experience {
    margin-top: 0.75rem;
    height: 2.4rem;
    width: 10rem;
    position: relative;
    background-color: var(--background-color);
    box-shadow: 0.3rem 0 0 var(--font-color), -0.3rem 0 0 var(--font-color),
      0 0.3rem 0 var(--font-color), 0 -0.3rem 0 var(--font-color);

    @media only screen and (max-width: 64em) {
      width: 8rem;
      height: 2rem;
    }

    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      opacity: 0;
      font-weight: 700;
      font-size: 1.4rem;
      transition: 0.2s transform;
    }

    &:hover &-label {
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &-bar {
      background-color: var(--primary-blue);
      width: 80%;
      height: 100%;
      transition: all 0.1s;
      box-shadow: inset 0.4rem 0 var(--primary-blue),
        inset -0.4rem 0 var(--primary-blue), inset 0 -0.3rem var(--primary-blue),
        inset 0 -0.6rem 0 rgba(255, 255, 255, 0.5);
    }
  }
}
