@use "../../../sassStyles/variables" as *;

.logo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;

  &__icon {
    width: 3.6rem;
    height: 3.6rem;
  }

  &__name {
    font-size: 1.4rem;
  }
}
