@use "../../sassStyles/variables" as *;
@use "../../sassStyles/animations" as *;

.hero {
  height: 100%;
  display: grid;
  // grid-template-rows: max-content 1fr;
  background-color: var(--background-color);
  position: relative;

  &__logo {
    justify-self: center;
  }

  &__menu-button {
    position: absolute;
    top: 4rem;
    left: 12rem;
    width: 4.2rem;
    height: 4.2rem;

    &__icon {
      width: 100%;
      height: 100%;
      stroke-width: 0.01rem;
    }
  }

  &__main {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 2fr 40%;
    column-gap: 4rem;
    align-items: center;
    padding: 4rem 10rem;
  }

  &__avatar {
    place-self: center;
  }
}
