@use "../../../sassStyles/variables" as *;
@use "../../../sassStyles/animations" as *;

.container {
  position: relative;
}

.avatar {
  width: 22rem;
  display: grid;
  grid-template-rows: max-content 24rem;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &:hover::before,
  &:hover &__nav,
  &:hover &__image {
    animation-play-state: paused;
  }

  &--visible {
  }

  &--hidden {
    grid-template-rows: max-content 0;
  }

  &--hidden &__image {
    border: 0.3rem solid transparent;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $primaryViolet;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    animation: shadowing 1s infinite alternate both ease;
  }

  &__nav,
  &__image {
    animation: hovering 1s infinite alternate both ease;
  }

  &__nav {
    border-bottom: $border;
    display: grid;
    grid-template-columns: 1fr 3.6rem;
    grid-template-rows: 3.6rem;
    background-color: #fff;
    border: $border;
    position: relative;
  }

  &__name {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__close {
    border: none;
    background: none;
    border-left: $border;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &:hover {
      background-color: $primaryDark;
      color: #fff;
    }
  }

  &__image {
    border: $border;
    border-top: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
  }
}
