@use "../../sassStyles/variables" as *;

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border);
  padding: 1.5rem 8rem;
  background-color: var(--background-color);

  &__links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  &__link {
    padding: 0.75rem 2rem;
    display: block;
    font-weight: 700;
    transition: 0.2s all;
    cursor: pointer;
    user-select: none;
    //Test
    background-color: var(--font-color);
    color: var(--background-color);
    box-shadow: 0.3rem 0 0 var(--font-color), -0.3rem 0 0 var(--font-color),
      0 0.3rem 0 var(--font-color), 0 -0.3rem 0 var(--font-color);

    &:hover {
      transform: translate(-0.3rem, -0.3rem);
      box-shadow: 0.3rem 0 0 var(--font-color), -0.3rem 0 0 var(--font-color),
        0 0.3rem 0 var(--font-color), 0 -0.3rem 0 var(--font-color),
        0.6rem 0.3rem 0 $primaryViolet, 0.3rem 0.6rem 0 $primaryViolet;
    }

    &:active {
      transform: translate(0, 0);
      box-shadow: none;
    }
  }
}
