@use "../../sassStyles/variables" as *;

.skills {
  display: grid;
  grid-auto-flow: row;
  background-color: var(--background-color);
  border: var(--border);
  border-top: none;
  // box-shadow: 0 -0.6rem 0 -0.3rem var(--background-color);
  width: max-content;
  background-color: rgb(247, 37, 133, 0.7);
  backdrop-filter: blur(1rem);
}

.skills__heading {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.skills__section {
}

.skills__nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  width: max-content;
  border-top: var(--border);
  border-bottom: none;
  border-right: none;
  position: relative;
  top: 0.3rem;

  &-button {
    padding: 1.5rem 4rem;
    font-weight: 700;
    background-color: var(--alternate-background-color);
    border-right: var(--border);
    box-shadow: inset 0 -0.3rem 0 var(--font-color);
    color: var(--font-color);

    &--active {
      background-color: var(--background-color);
      box-shadow: 0 0.3rem 0 var(--background-color);
      color: var(--font-color);
    }

    @media only screen and (max-width: 46.25em) {
      padding: 1.5rem 2rem;
    }
  }
}

.skills__content {
  background-color: var(--background-color);
  width: 75vw;
  padding: 8rem 6rem;
  border-top: var(--border);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  place-content: center;
  gap: 6rem;
  height: 30rem;

  @media only screen and (max-width: 46.25em) {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    width: 90vw;
    gap: 2rem 4rem;
  }

  @media only screen and (max-width: 27em) {
    gap: 2rem;
  }
}

.skills__heading {
}
