@use "../../sassStyles/variables" as *;

.modal {
  position: fixed;

  transform: translate(-50%, -50%);
  z-index: 1000;
  top: 50%;
  display: grid;
  grid-template-rows: max-content auto;
  grid-auto-columns: auto;
  gap: 0;

  box-shadow: 0 0 0 0.3rem #266578, 0 0 0 0.8rem #358da8, 0 0 0 1.1rem #44b5d8,
    0.3rem 0 0 1.1rem var(--font-color), -0.3rem 0 0 1.1rem var(--font-color),
    0 0.3rem 0 1.1rem var(--font-color), 0 -0.3rem 0 1.1rem var(--font-color);

  &__nav {
    user-select: none;
    background-color: var(--primary-blue);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    cursor: grab;
    font-size: 1.4rem;

    &:active {
      cursor: grabbing;
    }
  }
}
