@use "../../sassStyles/variables" as *;

.modal {
  position: fixed;
  user-select: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
  top: 50%;
  display: grid;
  grid-template-rows: min-content auto;
  grid-auto-columns: auto;

  &__nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    border: var(--border);
    border-bottom: none;
    align-items: center;
    cursor: grab;
    font-size: 1.4rem;

    &:active {
      cursor: grabbing;
    }
  }
}
