@use "../../sassStyles/variables" as *;

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--modal-background-color);
  width: min-content;
  @media only screen and (max-width: 42em) {
    grid-template-columns: 1fr;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    &__items {
      display: flex;
      list-style: none;
      flex-direction: column;
      gap: 1.6rem;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-weight: 500;
    }
  }

  &__channels {
    display: flex;
    flex-direction: column;

    &__list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-around;
      gap: 2rem;

      @media only screen and (max-width: 48em) {
        gap: 1.6rem;
      }
    }

    &__item {
      display: grid;
      grid-template-rows: 2.8rem max-content;
      gap: 1.5rem;
      justify-items: center;
      text-align: center;
      font-weight: 500;
      padding: 1.5rem 2rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: var(--font-color);
        color: #fff;
        transform: translate(-0.5rem, -0.5rem);
        box-shadow: 0.5rem 0.5rem 0 var(--primary-violet);
        color: var(--background-color);
      }

      &-icon {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__contacts,
  &__channels {
    padding: 4rem 6rem;
    gap: 4.2rem;
    @media only screen and (max-width: 48em) {
      padding: 2rem 4rem;
      gap: 2.4rem;
    }
  }
}
