@use "../../sassStyles/variables" as *;

.close-button {
  border: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  transition: all 0.3s;
  color: var(--font-color);
  background-color: var(--background-color);

  &:hover {
    transform: translate(-0.4rem, -0.4rem);
    box-shadow: 0.4rem 0.4rem 0 0 $primaryViolet;
    background-color: var(--background-color);
    color: var(--font-color);
  }

  &:active {
    transform: translate(0, 0);
    box-shadow: none;
  }

  &:disabled {
    border: 0.3rem solid rgba(51, 51, 51, 0.5);
    color: rgba(51, 51, 51, 0.5);
    cursor: not-allowed;
    transform: translate(0, 0);
    box-shadow: none;
    background-color: #fff;
  }
}
