@use "./variables" as *;

@keyframes hovering {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(calc(-50% + 0.5rem), calc(-50% + 0.5rem));
  }
}

@keyframes shadowing {
  0% {
    transform: translate(0.5rem, 0.5rem);
  }

  100% {
    transform: translate(0rem, 0rem);
  }
}

@keyframes flickering {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes sliding {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes glittering {
  0% {
    left: -50%;
  }

  100% {
    left: 150%;
  }
}
