//Primary Dark color
$primaryDark: #333;

//Violet color
$primaryViolet: #f72585;
$secondaryViolet1: #b5179e;
$secondaryViolet2: #7209b7;
$secondaryViolet3: #560bad;
$secondaryViolet4: #480ca8;
$secondaryViolet5: #3a0ca3;
$tertiaryViolet1: #f9519d;

//Blue color
$primaryBlue: #4cc9f0;
$secondaryBlue1: #4895ef;
$secondaryBlue2: #4361ee;
$secondaryBlue3: #3f37c9;

//border
$border: 0.325rem solid $primaryDark;
