@use "./sassStyles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");

:root {
  --font-color: #333;
  --disabled-color: rgba(51, 51, 51, 0.5);
  --background-color: #fff;
  --border: 0.3rem solid var(--font-color);
  --alternate-border: 0.3rem solid var(--font-color);
  --alternate-background-color: #ccc;
}

[data-theme="dark"] {
  --font-color: #eee;
  --disabled-color: rgba(237, 237, 237, 0.5);
  --background-color: #333;
  --border: 0.3rem solid var(--font-color);
  --alternate-border: 0.3rem solid transparent;
  --alternate-background-color: #999;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  //screen larger then 1600
  @media only screen and (min-width: 100em) {
    font-size: 75%;
  }

  //smaller than 1200
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }

  //smaller than 1024
  @media only screen and (max-width: 64em) {
    font-size: 50%;
  }

  //smaller than 944
  @media only screen and (max-width: 59em) {
    //font-size: 43.75%;
  }
}

body {
  font-family: "IBM Plex Mono", monospace;
  color: var(--font-color);
  font-size: 1.6rem;
  &::-webkit-scrollbar {
    background: #fff;

    &-thumb {
      background-color: $primaryDark;
    }

    &-track {
      // box-shadow: inset 0 0 0 0.3rem $primaryDark;
      border-left: $border;
    }
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Press Start 2P", cursive;
  line-height: 1.5;
}

svg {
  width: 2rem;
  height: 2rem;
  stroke: var(--font-color);
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
