@use "../../../sassStyles/variables" as *;

.loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $primaryBlue;
  display: flex;
  align-items: center;
  justify-content: center;
}
